<!-- Message Modal -->
<div id="msg_dialog" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" action="#">
          <div class="modal-header">
              <h4 class="modal-title">COVID19 Screening</h4>
          </div>

          <div class="modal-body">
              <p></p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
      </form>
    </div>
  </div>
</div>