{% extends "base.html" %}
{#{% extends "bootstrap/base.html" %}#}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>

    {% assets 'css_base' %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

{% endblock %}

{% block title %} COVID19 Screening {% endblock %}

{% block page_content %}

    <div class="tm-purple-bg tm-box-pad tm-bordered-box tm-no-border-top">

      <h5>Please upload a chest x-ray image without marks (png, jpeg, jpg, or bmp are accepted)</h5>
        <a class="h5 text-warning" href="{{ url_for('static', filename='img/test.jpg') }}"> (see sample xray image)</a>


    </div>

    <!------------------ Upload data form --------------------->

    <div class="tm-flex">
        <div class="tm-contact-left-half tm-gray-bg">
            <div class="tm-contact-inner-pad">
                  <h2 class="tm-section-title">Upload data</h2>

                  <form class="form form-horizontal" method="post" role="form" novalidate enctype="multipart/form-data">

                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}

                    {#  {{ form.csrf_token() }}#}

                    {{ wtf.quick_form(form, button_map={'submit': 'btn pull-xs-right tm-button tm-button-normal my-4'}) }}

                </form>
            </div>
        </div>
    </div>



    <div id="dialog-message" title="COVID">
        <p id="msg"></p>
    </div>

    {% include 'message_dialog.html' %}

{% endblock %}


{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    {% assets "ml_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}


{% endblock %}


